--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
torch==2.5.1+cpu; platform_system == "Linux"
torch; platform_system != "Linux"
transformers>=4.40,<5
sentencepiece
pydantic
